@model PackageDelivery.GUI.Models.Parameters.TransportTypeModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Tipo Transporte</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @Class = "btn btn-warning" }) |
    @Html.ActionLink("Volver", "Index")
</p>
